@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/open-sauce/black.ttf');
}

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/open-sauce/extrabold.ttf');
}

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sauce/bold.ttf');
}

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/open-sauce/semibold.ttf');
}

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/open-sauce/medium.ttf');
}

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sauce/regular.ttf');
}

@font-face {
  font-family: 'Open Sauce';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/open-sauce/light.ttf');
}

.btn-primary {
  @apply flex flex-row items-center gap-2 rounded-[8px] bg-[#1D1F1E] px-4 font-semibold text-white hover:bg-[#494D4B] active:bg-[#616663] disabled:bg-[#C6CCC9];
}

.btn-secondary {
  @apply flex flex-row items-center gap-2 rounded-[8px] border border-[#1D1F1E] px-4 font-semibold text-[#1D1F1E] hover:border-[#494D4B] hover:text-[#494D4B] active:border-[#616663] active:text-[#616663] disabled:border-[#C6CCC9] disabled:text-[#C6CCC9];
}

.btn-tertiary {
  @apply flex flex-row items-center gap-2 px-4 font-semibold text-[#1D1F1E] hover:border-[#494D4B] hover:text-[#494D4B] active:border-[#616663] active:text-[#616663] disabled:border-[#C6CCC9] disabled:text-[#C6CCC9];
}

.btn-small {
  @apply h-10 text-[14px];
}

.btn-medium {
  @apply h-14 text-[16px];
}

input[type='text'] {
  @apply h-[56px] rounded-lg border-[#A5A8A6] pl-4 pr-2 font-normal leading-[130%] text-[#1D1F1E] placeholder-[#A5A8A6] caret-[#008744] hover:border-[#616663] active:border-[#1D1F1E];
}

input[type='email'] {
  @apply h-[56px] rounded-lg border-[#A5A8A6] pl-4 pr-2 font-normal leading-[130%] text-[#1D1F1E] placeholder-[#A5A8A6] caret-[#008744] hover:border-[#616663] active:border-[#1D1F1E];
}

input[type='time'] {
  @apply h-[56px] rounded-lg border-[#A5A8A6] pl-4 pr-2 font-normal leading-[130%] text-[#1D1F1E] placeholder-[#A5A8A6] caret-[#008744] hover:border-[#616663] active:border-[#1D1F1E];
}

select {
  @apply h-[56px] rounded-lg border-[#A5A8A6] font-normal leading-[130%] text-[#A5A8A6] hover:border-[#616663] active:border-[#1D1F1E] disabled:border-[#C6CCC9] disabled:text-[#C6CCC9];
}

select option {
  @apply text-[#A5A8A6];
}

select:has(option:checked:not([value])),
select:has(option:checked:not([value=''])) {
  @apply border-[#1D1F1E] text-[#1D1F1E];
}

select:has(option:checked:not([value])) option,
select:has(option:checked:not([value=''])) option {
  @apply border-[#1D1F1E] text-[#1D1F1E];
}
